.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #122a4c;
    color: white;
    padding: 20px;
    position: fixed;
    top: 50px;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #10b981;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    margin: 16px 0;
}

.sidebar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.sidebar-links li a:hover {
    background-color: #435068;
}

/* sidebar hidden state */
.sidebar-hidden {
    transform: translateX(-100%);
}

/* topbar styling */
.topbar {
    height: 50px;
    background-color: #6ca1ea;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
}

.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white
}